/* Hier hoef je niks mee te doen */
*{
    font-size:0;
}

#container{
    width: 800px;
    height: 100%;
    background-color: blanchedalmond;
    border: 1px solid black;
}

/* Hieronder kun je gaan editen */

#bovenkant{
    width: 800px;
    height: 250px;
    background-color: yellow;
}

#middenkant{
    width: 800px;
    height: 125px;
    background-color: blue;
}

#onderkant{
    width: 800px;
    height: 125px;
    background-color: red;


}

